# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
\!notes
quote-db.txt

# Build
dist/
build/

# .gitignore // Retirez les '!' pour les variables d'environnement
!.env
!.env.development
!.env.*.local

# Gardez .env.example dans le repo
!.env.example

# IDE & Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
.DS_Store
._*
Thumbs.db
.vs/

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/
.nyc_output/
junit.xml

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Docker
docker-compose.override.yml
.docker/data/

# Temp directories
tmp/
temp/

# Debug
.debug/

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Cache directories
.cache/
.parcel-cache/

# Serverless
.serverless/

# DynamoDB Local files
.dynamodb/

# Services
services/user-service2/